<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>

        <title>Verse</title>
    </head>
    <body>
        <%- include('../partials/navbar'); %>

        <h3><%= verse.title %></h3>
        <h5><%= verse.verse %></h5>
        <p><%= verse.verseContent %></p>
        <% if (verse.note) { %>
            <p><%= verse.note %></p>
        <% } %>
    </body>
</html>