<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>

        <title>Verse</title>

        <link rel="stylesheet" href="/css/verseExpand.css">
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <%- include('editVerseModal', {verse: verse}); %>

        <div class="verseExpand">
            <h2 id="title"><%= verse.title %></h2>
            <h4 id="verse"><%= verse.verse %></h4>
            <p id="verseContent"><%= verse.verseContent %></p>
            <% if (verse.note) { %>
                <p id="note"><%= verse.note %></p>
            <% } %>
            <form class="edit">
                <!-- <button type="submit" id="edit">Edit</button> -->
                <button type="button" id="edit" data-bs-toggle="modal" data-bs-target="#editVerse">
                    Edit
                </button>
            </form>
    
            <form class="delete" action="/verse?_method=DELETE" method="POST">
                <input style="display: none" value="<%= verse._id %>" name="verseId">
                <button type="submit" id="delete">Delete</button>
            </form>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script src="/scripts/verse.js"></script>
    </body>
</html>